@inject ASP.NET_5_Starter_Web_Application.Services.ITimeProvider Time

<h3>Some numbers</h3>
<ul>
    @foreach (var num in Model)
    {
        <li>@num</li>
    }
</ul>

<h4>And the time is @Time.GetTimeString()</h4>